<div class="" role="">
    <div class="" role="">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Confirm deleting claim ? </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal"  (click)="cancel()" >Cancel</button>
                <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
            </div>
        </div>
    </div>
</div>